body {
  background-color: #f0f0f0;
}

.avntlnk-brand-img {
  width: 25px;
  height: 22px;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-default {
  background-color: #112e5c;
  border-color: #112e5c;
}

.nav-tabs {
  margin-left: 20%;
  margin-right: 20%;
  background-color: #27508d;
}

.nav-tabs>li>a {
  border-radius: 0;
}

.title {
  font-size: 26px;
  color: white;
}

.title-bg {
  padding: 25px 20% 0 20%;
  background-color: #3667ae;
  width:100%;
  height: 85px;
}

.main-container {
  margin: 0 20% 0 20%;
  padding: 15px 40px 15px 0;
  box-shadow: 1px 1px 1px #dddddd;
  background-color: white;
}

.blue-bg {
  background-color: #3667ae;
  width: 100%;
}