<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" class="avntlnk-brand-img" src="app/logo.png">
      </a>
    </div>
  </div>
</nav>

<div class="title-bg">
  <div class="title">{{title}}</div>
</div>

<div class="blue-bg">
  <ul class="nav nav-tabs">
    <li role="presentation" routerLinkActive="active">
      <a [routerLink]="['/tasks']">Tasks</a>
    </li>
    <li role="presentation" routerLinkActive="active">
      <a href="#">Other Stuff</a>
    </li>
  </ul>
</div>
<div class="main-container">
  <router-outlet></router-outlet>
</div>
