<form class="form-inline">
  <ul class="task-list">
    <li *ngFor="let task of tasks; let idx = index"
      [class.selected]="task === selectedTask"
      (click)="onSelect(task)">
      <div class="task">
        {{task.id}}. 
        <span *ngIf="selectedTask !== task"> {{task.name}}</span>
        <span *ngIf="selectedTask === task">
          <input required class="form-control" name="{{idx}}name" type="text" [(ngModel)]="task.name">
          <button class="btn btn-success" (click)="save(task)"><span class="glyphicon glyphicon-ok"></span></button>
        </span>
        <button class="btn btn-danger delete-btn" (click)="deleteTask(task)"><span class="glyphicon glyphicon-remove"></span></button>
      </div>
    </li>
  </ul>
  <button class="btn btn-default" (click)="addTask()"><span class="glyphicon glyphicon-plus"></span></button>
  <span *ngIf="addingTask">
    <input required class="form-control" name="newTask" type="text" [(ngModel)]="newTask.name">
    <button class="btn btn-success" (click)="save(newTask)"><span class="glyphicon glyphicon-ok"></span></button>
    {{newTask.name}}
  </span>
</form>
<div *ngIf="showSuccess" class="success-msg-div">
  <div class="success-msg">Successfully {{process}} the task</div>
</div>
