
.task {
  background-color: #f5f5f5;
  display: block;
  padding: 1em 1.2em 1.1em;
  font-weight: 700;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  margin-bottom: 15px;
}

.selected {
  background-color: #e5e5e5;
}

.task-list {
  list-style-type: none;
}

.success-msg-div {
  position: relative;
  top: 50px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.success-msg {
  padding-top: 15px;
  width: auto;
  height: 50px;
  background-color: #34bf7c;
  margin: auto 1.5em;
  display: inline-block;
}

.delete-btn {
  position: relative;
  right: 5px;
}